[Unit]
Description=BPI Video Streamer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/bash /root/stream_with_audio.sh
KillSignal=SIGTERM
TimeoutStopSec=10
FinalKillSignal=SIGKILL
CPUSchedulingPolicy=rr
CPUSchedulingPriority=70

[Install]
WantedBy=multi-user.target
